#include <winver.h>

#define ALPHA	0
#define BETA	1
#define RELEASE	2

LANGUAGE 0x9, 0x2
VS_VERSION_INFO VERSIONINFO
    FILEVERSION		1,0,RELEASE,0
    PRODUCTVERSION	1,0,RELEASE,0
    FILEFLAGSMASK	0x3fL
#ifdef DEBUG
    FILEFLAGS	 	VS_FF_DEBUG
#else
    FILEFLAGS	 	0x0L
#endif
    FILEOS		VOS__WINDOWS32
    FILETYPE		VFT_DLL
    FILESUBTYPE		0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
	BLOCK "080904b0" // LANG_ENGLISH/SUBLANG_ENGLISH_UK, Unicode CP
	BEGIN
	    VALUE "FileDescription", PACKAGE_NAME " Tcl Extension"
	    VALUE "OriginalFilename", PKG_LIB_FILE
	    VALUE "InternalName", PACKAGE_NAME
	    VALUE "Author", "Donal K. Fellows"
	    VALUE "CompanyName", "Tcl Core Team"
	    VALUE "FileVersion", PACKAGE_VERSION
	    VALUE "LegalCopyright", "Copyright \251 2005-2012 by Donal K. Fellows"
	    VALUE "ProductName", "Object Orientation Extension Package for Tcl"
	    VALUE "ProductVersion", PACKAGE_VERSION
	END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END

// Local Variables:
// mode: c++
// End:
